body {
  display: flex;
  background: linear-gradient(to right,
      #4c39fd,
      #001a77);
  padding: 0;
  margin: 0;
}

.content-container {
  margin-left: 100px; /* match the fixed sidebar width */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideNav-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 250px;
  padding: 20px;
  height: 100vh; 
  position: fixed;
  left: 0;
  top: 0;
}

.sideNav-container button {
  margin-bottom: 20px;
  border: none;
  font-size: larger;
}

.sideNav-container button a {
  color: white
}

.header-container {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
}



