.performanceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
  gap: 25px; 
  color: white ;
}

.performanceHeaders {
  position:absolute;
  display: flex;
  gap: 350px;
  color: white;
  font-size: 14px;
  
}

.performanceRow {
  position: relative;
  align-items: center; 
  gap: 10px; 
  color: white;
  font-size: 12px;
}

