.cardContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
  }
  
  .card {
    width: 400px;
    height: 75px;
    background-color: transparent !important;
    border: 2px solid white !important;
    border-radius: 10px !important;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
    color: white;
  }

  .mdAccountCircle {
    size: 100px;
  }