

body {
  background: linear-gradient(
    to right,
    #3a25f2,
    #9aefdb
  );
  margin: 0; /* Remove default body margin */

  /* --- Centering styles --- */
  /* display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;  */
 
}


/* .standings-table th,
.standings-table td {
    text-align: left; 
    background-color: transparent !important;
    border: none;
} */

/* .standings-table th,
.standings-table td {
  padding: 15px 75px !important; 
} */