

.standings-table th,
.standings-table td {
    text-align: left; 
    background-color: transparent !important;
    border: none;
}

.standings-table th,
.standings-table td {
  padding: 15px 75px !important; 
}