.profileContent {
    display: flex;
    align-items: center;
    justify-content: start; 
    color: white;
    margin-top: 175px;
    gap: 50px;
}

.profileText h2 {
  margin-bottom: 15;
  font-size: 20px;
  font-weight: 600;

}

.profileText p {
  margin: 2px 0 0 0;
  font-size: 14px;
}

.profileContent h1,
.profileContent p {
    margin: 0;
}
